.form-label {
	margin-bottom: 15px;
	float: left;
	width: 150px;
}
.form-input {
	margin-bottom: 15px;
}

#profile-photo-submit-wrapper {
	clear: both;
}

#profile-photo-wrapper {
	height: 300px;
	width: 300px;
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
}
